{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<div class="block">

    <div>
        
        <img id="im12" src="{% static 'D:\develop\djangoProject\app\static\app\content\sky.jpg' %}" alt="" />
    </div>

    <div>
        <p>
            Этот сайт предоставляет актуальную информацию о событиях в мире астрономии и космонавтики.  Здесь публикуются новости о запусках космических аппаратов, открытиях экзопланет и других небесных тел, а также о достижениях в области исследования космоса.  Данные для сайта используются из авторитетных источников. Материалы предназначены для широкого круга читателей, от опытных астрономов-любителей до тех, кто только начинает интересоваться этой областью.  Сайт регулярно обновляется, чтобы вы всегда были в курсе последних событий.

        </p>

        <p>
            Помимо новостей, на сайте представлены аналитические статьи, посвященные различным аспектам космических исследований.  Здесь рассматриваются как последние научные открытия, так и долгосрочные перспективы освоения космоса.
        </p>
    </div>

    <div>
        <h2 class="header">На этом сайте вы найдете:</h2>
        <ul>
            <li> <b>Актуальные новости:</b> свежие данные о запусках ракет, открытиях планет и других космических явлениях</li>
            <li> <b>Аналитические статьи:</b> глубокое изучение сложных тем, представленное доступным языком</li>
            <li> <b>Обзоры космических миссий:</b> подробный анализ прошедших и планируемых космических экспедиций</li>
            <li> <b>Фото- и видеогалереи:</b> завораживающие изображения и видеоматериалы из космоса</li>
        </ul>
    </div>

    <div>
       
        <img id="im12" src="{% static 'D:\develop\djangoProject\app\static\app\content\mars.jpg' %}" alt="" />
    </div>

    <div>
        <p>
            Ведётся постоянная работа над улучшением качества контента и функциональности сайта.  Ваше мнение важно для нас, поэтому мы будем рады вашим отзывам и предложениям.  Надеюсь, что этот сайт станет для вас полезным и информативным ресурсом, способствующим более глубокому пониманию устройства космоса и его различных аспектов.
        </p>
    </div>

</div>

{% endblock %}
